 body{
            margin: 0;
        }
        head{
            margin: 0;
        }
       header {
        margin: 0;
            height: 60px;
            box-shadow: 17px 20px 29px 7px rgba(0,0,0,0.61);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
       .headline {
    
            color: aqua;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
        }
        .small {
            font-size: 16px;
        }
        .big {
            font-size: 35px;
        }
        .big:hover {
            font-size: 40px;
        }
        header a {
            margin: 10px;
            font-size: 30px;
            text-decoration: none;
            color: lightcoral;
        }
        header a:hover {
            color: crimson;
        }
        .container{
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container a{
            background-color: rgb(6, 0, 95);
            color: white; 
            text-decoration: none;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 4px;
            padding-top: 4px;
            border: 2px solid rgb(0, 0, 0);
        }
        .container a:hover {
            padding-left: 9px;
            padding-right: 9px;
            padding-bottom: 3px;
            padding-top: 3px;
            background-color: rgb(17, 0, 255);
            color: rgb(255, 0, 0); 
            border: 4px solid rgb(0, 0, 0);
        }