body {
  margin: 0;
}
header {
  height: 40px;
  box-shadow: 17px 20px 29px 7px rgba(0,0,0,0.61);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backround-color: orange;
}
.headline {
  color: yellow;
  font-size: 20px;
}
.headline a {
  text-decoration: none;
  text-size: 35px;
  color: red;
}
.centerd {
  text-align: center;
}
p {
  font-size: 30px;
}
